{% extends "fragments/layout" %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center my-5">

    <div class="transparent-container p-5 rounded-4 shadow-lg" style="max-width:600px; width:100%;">

        <h2 class="text-center mb-4 perfil-titulo p-3">
            {{ message('auth.register') }}
        </h2>

        {% include "fragments/messages" %}

        <form method="POST" action="/auth/register">
            <input type="hidden" name="{{ csrfParamName }}" value="{{ csrfToken }}">

            <!-- Nombre -->
            <div class="mb-3">
                <label class="form-label">{{ message('auth.nombre') }}</label>
                <input class="form-control"
                       type="text"
                       name="nombre"
                       placeholder="{{ message('auth.namePlaceholder') }}"
                       required>
            </div>

            <!-- Apellidos -->
            <div class="mb-3">
                <label class="form-label">{{ message('auth.apellidos') }}</label>
                <input class="form-control"
                       type="text"
                       name="apellidos"
                       placeholder="{{ message('auth.surnamePlaceholder') }}"
                       required>
            </div>

            <div class="mb-4">
                <label class="form-label">{{ message('auth.username') }}</label>
                <input class="form-control"
                       type="text"
                       name="username"
                       placeholder="{{ message('auth.usernamePlaceholder') }}"
                       required>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">{{ message('auth.email') }}</label>
                <input class="form-control"
                       type="email"
                       name="email"
                       placeholder="{{ message('auth.emailPlaceholder') }}"
                       required>
            </div>


            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">{{ message('auth.password') }}</label>
                <input class="form-control"
                       type="password"
                       name="password"
                       placeholder="{{ message('auth.passwordPlaceholder') }}"
                       required>
            </div>

            <!-- Repeat password -->
            <div class="mb-4">
                <label class="form-label">{{ message('auth.password.repeat') }}</label>
                <input class="form-control"
                       type="password"
                       name="passwordComprobacion"
                       placeholder="{{ message('auth.passwordRepeatPlaceholder') }}"
                       required>
            </div>

            <!-- Botón -->
            <div class="d-flex justify-content-between align-items-center">

                <div>
                    <button class="btn btn-login" type="submit">
                        {{ message('auth.register') }}
                    </button>
                </div>

                <!-- Link  -->
                <div>
                    <a href="/auth/login" class="btn btn-outline-info">
                        <i class="bi bi-at"></i>
                        {{ message('auth.haveAccount') }}
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>
{% endblock %}
