{% extends "fragments/layout" %}

{% import "fragments/pager" %}

{% block body %}
<div class="container mx-auto">

    <!-- mensajes flash -->
    <div class="row mb-4">
        <div class="col-md-12">
            {% include "fragments/messages" %}
        </div>
    </div>

    <!-- reutilizamos la tabla común -->
    {% include "fragments/listaJuegos" %}

    <!-- paginación -->
    {{ pager("Mis Videojuegos", page, _context) }}

    <div id="placeholder-modal"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ href('/js/app-lista.js') }}"></script>
{% endblock %}