{% extends "fragments/layout" %}

{% import "fragments/inputField" %}

{% block body %}

    <h2>
        {% if videojuegos['new'] %}
            Nuevo
        {% endif %}
        VideoJuego
    </h2>
    <form class="form-horizontal" id="add-videojuegos-form" method="post"
          action="{% if modoEditar %}/admin/videojuegos/{{videoJuegoId}}/edit{% else %}/admin/videojuegos/new{% endif %}">
        <input name=" {{ csrfParamName }} " type="hidden" id="id" value="{{ csrfToken }}">
        <div class="form-group has-feedback">
            {{ inputField("videojuegos", "Nombre", "nombre", "text", videojuegos.nombre, _context) }}
            {{ inputField("videojuegos", "Precio", "precio", "number", videojuegos.precio, _context) }}
            {{ inputField("videojuegos", "Fecha de lanzamiento", "fecha_lanzamiento", "date", videojuegos.fecha_lanzamiento, _context) }}
            {{ inputField("videojuegos", "Genero", "genero", "text", videojuegos.genero, _context) }}
            {{ inputField("videojuegos", "Plataforma", "plataforma", "text", videojuegos.plataforma, _context) }}
            {{ inputField("videojuegos", "Edad", "edad", "number", videojuegos.edad, _context) }}
            {% if not modoEditar %}
                {{ inputField("videojuegos", "Cliente", "cliente", "text", videojuegos.cliente, _context) }}
            {% endif %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit">
                    {{ modoEditar ? 'Actualizar VideoJuego' : 'Añadir VideoJuego' }}
                </button>
            </div>
        </div>
    </form>

{% endblock %}