<footer class="mt-auto py-3 bg-black bg-opacity-75 pie-texto">
    <div class="container">
        <div class="text-center d-flex justify-content-between">
            <div class="me-5">
                <p class="mb-1">
                    <i class="bi bi-c-circle"></i> {{ currentYear }} {{ appName }} - Aplicación de Video Juegos
                </p>
            </div>
            <div class="mx-5">
                <p class="mb-1">
                    <a class="enlace-github" href="https://github.com/mapl63/AplicacionVideoJuegos.git" target="_blank">
                        <i class="bi bi-github"></i> Marius Puruguay Lopez
                    </a>
                </p>
            </div>
            <div class="ms-5">
                <p class="mb-0">
                    <i class="bi bi-building"></i> IES Francisco de Quevedo (Madrid)
                </p>
            </div>
        </div>
    </div>
</footer>