<footer class="mt-auto py-3 bg-dark pie-texto">
    <div class="container">
        <div class="text-center">
            <p class="mb-1">
                <i class="bi bi-c-circle"></i> {{ currentYear }} {{ appName }} - Aplicación de Video Juegos
            </p>
            <p class="mb-1">
                <a class="text-white-50 text-decoration-none me-3" href="https://github.com/mapl63/AplicacionVideoJuegos.git" target="_blank">
                    <i class="bi bi-github"></i> Marius Puruguay Lopez
                </a>
            </p>
            <p class="mb-0">
                <i class="bi bi-building"></i> IES Francisco de Quevedo (Madrid)
            </p>
        </div>
    </div>
</footer>