<!doctype html>
<html>
{% include "fragments/head" %}

    <body class="d-flex flex-column {% if isAuthenticated %}bg-video{% else %}bg-visitor{% endif %}">

    {% if isAuthenticated %}
    <video autoplay muted loop>
        <source src="/video/rayos.mp4" type="video/mp4">
    </video>
    {% else %}
    <style>
        body {
            background-image: url('/images/controller.jpg');
            background-size: cover;
            background-position: center;;
            background-repeat: no-repeat;
        }
    </style>
    {% endif %}

    {% include "fragments/navbar" %}

    <div class="container mb-5 mt-5">
        {% block body %}{% endblock %}
    </div>

    {% include "fragments/footer" %}

    <script src="{{ href('/webjars/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
