{% if page.empty %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="alert alerta-lista text-center w-50">
        <i class="bi bi-info-circle"></i>
        No se han encontrado videojuegos.
    </div>
</div>
{% else %}
<table class="table table-striped text-center" id="listaJuegos">
    <tr>
        <th>ID</th>
        <th>{{ message('label.videojuegos.nombre') }}</th>
        <th>{{ message('label.videojuegos.cliente') }}</th>
        <th>{{ message('label.videojuegos.precio') }}</th>
        <th>{{ message('label.videojuegos.fechaLanzamiento') }}</th>
        <th>{{ message('label.videojuegos.genero') }}</th>
        <th>{{ message('label.videojuegos.plataforma') }}</th>
        <th>{{ message('label.videojuegos.edad') }}</th>
        <th></th>
    </tr>
    {% for videojuego in page.content %}
    <tr>
        <td class="videoJuegoId">{{ videojuego.id }}</td>
        <td>{{ videojuego.nombre }}</td>
        <td>{{ videojuego.cliente }}</td>
        <td>{{ videojuego.precio }}</td>
        <td>{{ videojuego.fecha_lanzamiento }}</td>
        <td>{{ videojuego.genero }}</td>
        <td>{{ videojuego.plataforma }}</td>
        <td>{{ videojuego.edad }}</td>
        <td class="gap-2 d-flex">
            {% if isAdmin %}
            <a href="/admin/videojuegos/{{ videojuego.id }}" class="">
                <i class="bi bi-eye icono-vista"></i>
            </a>
            <a href="/admin/videojuegos/{{ videojuego.id }}/edit" class="">
                <i class="bi bi-pencil icono-editar"></i>
            </a>
            <a href="#"
               class="borrarVideoJuegoLink text-danger">
                <i class="bi bi-trash icono-borrar"></i>
            </a>
            {% else %}
            <a href="/app/misVideoJuegos/{{ videojuego.id }}" class="">
                <i class="bi bi-eye icono-vista"></i>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}