html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.bg-video video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Imagen de fondo para visitantes */
html, body {
    height: 100%;
}

body.bg-visitor {
    background-image: url('/images/mandoNaranja.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Contenedores con transparencia */
.transparent-container {
    background-color: rgba(76, 75, 75, 0.75); /* Negro con 75% de opacidad */
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}

#logoutLink {
    cursor: pointer; /* fuerza el cursor de mano */
    pointer-events: auto;
    display: block;
}

.boton-personal {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #39ff14;
    --bs-btn-color: #39ff14;

    --bs-btn-hover-bg: #39ff14;
    --bs-btn-hover-border-color: #39ff14;
    --bs-btn-hover-color: black;

    box-shadow: 0 0 8px #39ff14, 0 0 20px #39ff14;
}


.titulo-index{
    text-shadow: 0 0 10px white, 0 0 20px white;
    color: white;
    font-size: 8em;
    transition: all 0.3s ease;
}

.titulo-index:hover{
    color: red;
    text-shadow: 0 0 15px red, 0 0 20px red;
    transform: scale(1.2);
}

.bienvenida {
    color: #c800ff;
    text-shadow:
            0 0 5px #c800ff,
            0 0 10px #c800ff,
            0 0 20px #c800ff,
            0 0 40px #8a00ff;
}

.btn-admin {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #ff00c8;
    --bs-btn-color: #ff00c8;

    --bs-btn-hover-bg: #ff00c8;
    --bs-btn-hover-border-color: #ff00c8;
    --bs-btn-hover-color: black;

    box-shadow: 0 0 10px #ff00c8, 0 0 25px #ff00c8;
}


.btn-user {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #00f7ff;
    --bs-btn-color: #00f7ff;

    --bs-btn-hover-bg: #00f7ff;
    --bs-btn-hover-border-color: #00f7ff;
    --bs-btn-hover-color: black;

    box-shadow: 0 0 10px #00f7ff, 0 0 25px #00f7ff;
}

.btn-login {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #ffd000;
    --bs-btn-color: #ffd000;

    --bs-btn-hover-bg: #ffd000;
    --bs-btn-hover-border-color: #ffd000;
    --bs-btn-hover-color: black;

    box-shadow: 0 0 10px #ffd000, 0 0 25px #ffd000;
}

.pie-texto{
    color: white;
    text-shadow: 0 0 4px #ffd000, 0 0 8px #ffd000;
    font-size: 1.2em;
}

.icono-vista{
    color: rgb(7, 52, 204);
    transition: all 0.3s ease;
}

.icono-vista:hover {
    color: mediumvioletred;
    text-shadow: 0 0 4px mediumvioletred, 0 0 7px mediumvioletred;
    transform: scale(1.6);
}

.icono-editar{
    color: #819c16;
    transition: all 0.3s ease;
}

.icono-editar:hover{
    color: #000000;
    text-shadow: 0 0 4px #1bea03, 0 0 7px #1bea03;
    transform: scale(1.6);
}

.alerta-lista {
    width: min(80vw, 400px);
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: #1bea03;
    text-align: center;

    box-shadow: 0 0 20px #1bea03, 0 0 40px #1bea03;
}

.alerta-contenido {
    padding: 10%;

    font-size: clamp(4rem, 5vw, 4rem); /* 🔑 aquí */

    line-height: 1.1;
    font-weight: 600;

    text-shadow: 0 0 4px #1bea03, 0 0 7px #1bea03;
}

