html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.bg-video video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Imagen de fondo para visitantes */
html, body {
    height: 100%;
}

body.bg-visitor {
    background-image: url('/images/controller.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Contenedores con transparencia */
.transparent-container {
    background-color: rgba(76, 75, 75, 0.75); /* Negro con 75% de opacidad */
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}

#logoutLink {
    cursor: pointer; /* fuerza el cursor de mano */
    pointer-events: auto;
    display: block;
}

.boton-personal{
    --bs-btn-bg: black;
    --bs-btn-border-color: red;
    --bs-btn-color: white;

    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: black;
    --bs-btn-hover-color: black;
}

.titulo-index{
    text-shadow: 0 0 10px white, 0 0 20px white;
    color: white;
    font-size: 8em;
    transition: all 0.3s ease;
}

.titulo-index:hover{
    color: red;
    text-shadow: 0 0 15px red, 0 0 20px red;
    transform: scale(1.2);
}