{% extends "fragments/layout" %}

{% block body %}
    <main class="container">
        <div class="my-5 rounded-4 bg-dark opacity-75 text-white">
            <div class="d-flex flex-column align-items-center text-center pt-5">

                <h1 class="titulo-index">
                    Gestión de VideoJuegos
                </h1>

                <p class="fs-4 text-danger fw-bold mt-5">
                    Una aplicación de ejemplo de Spring MVC con Pebble
                </p>

                {% if isAuthenticated %}
                    <h2 class="display-4 bienvenida">
                        Saludos, {{ username | default('Usuario') }}
                    </h2>
                    {% if isAdmin %}
                        <a class="btn btn-admin btn-lg my-5" href="/admin/videojuegos">
                            Panel de Administración
                        </a>
                    {% else %}
                        <a class="btn btn-user btn-lg my-5" href="/app/misVideoJuegos">
                            Mis VideoJuegos
                        </a>
                    {% endif %}
                {% else %}
                    <h2 class="display-4"> Saludos, visitante </h2>

                    <a class="btn btn-login btn-lg my-4" href="/login" role="button">
                        Iniciar Sesión
                    </a>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}
